<% include partials/header%>
<link rel="stylesheet" href="/blog.css">

    
        
 
    <h1>
        <%=blog.title%>
    </h1>

    <h2>
        Date: <%=blog.created.getMonth() + "/" + blog.created.getDate()%>
    </h2>
    <div class="container">
    <div class="image">
    <img src="<%=blog.img%>">    
    </div>
    
    <h3>
        <%=blog.body%>
    </h3>

    <a href="/blogs/<%=blog._id%>/edit" class="btn btn-primary btn-lg"> Edit blog</a>
    <form action="/blogs/<%=blog._id%>?_method=DELETE" method="POST" id="delete">
        <button type="submit" class="btn btn-lg btn-dark">Delete blog</button>
    </form>
    </div>

    <% include partials/footer%>